body {
  background-color:papayawhip;
}

#title{
  color:blue;
  text-align: center;
  font-weight: 100; 
}

#color-palette{
  text-align: center;
}

.color {
  width: 40px;
  height: 40px;
  border: solid black 1px;
  display: inline-block;
  text-align: center;
}

.button {
  width: 100px;
  margin: 0 auto;
  position: fixed;
  top: 160px;
  left: 0;
  right: 0;
  cursor: pointer;
  border-radius: 10px;
  color: antiquewhite;
  background: black;
  text-align: center;
}

.btn {
  width: 100px;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top: 150px;
  left: 0;
  right: 0;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
  color: antiquewhite;
  background: black;
  float: left;
}

.input-container {
  border: 1px solid black;
  display: table;
  margin: 0 auto;
}

#pixel-board {
  display: table;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.line-pixel-board {
  display: table-row;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  left: 57%;
  text-align: center;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: table-cell;
  background-color: white;
  text-align: center;
}

.container {
  text-align: center;
  margin: 0 auto;
}

#button-random-color {
  margin-right: 50%;
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1e90ff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-left: 45%;
  margin-right: 40%;
}

#clear-board {
  align-items: center;
  text-align: center;
  margin-left: 40%;
  margin-right: 10%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1e90ff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
