body {
  background-color:papayawhip;
}
#title{
  color: ;
  text-align:;
  font-weight: 100;
  
}
#color-palette{
  text-align: ;
}
.container {
   text-align: ;
   
}

main{
  background-color;
   

   
}
.selected{
  border: 8px solid white;


}
.color {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
    
   
  }

.button{
  width: 100px;
  text-align:;
    position:fixed;
    top: 160px;
    left: 140px;
    cursor: pointer;
   c
    border-radius: 10px;
    color: antiquewhite;
    background: black;
}
.btn {
 width: 100px;
  text-align: center;
    position:fixed;
    top: 150px;
    left: %;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    color: antiquewhite;
    background: black;
    float: left;


}
 #color1{
  background-color: black;
  cursor: pointer;
 }
 #color-2{
  background-color: red;
  cursor: pointer;
 }
 #color-3{
  background-color:blue;
  cursor: pointer;
 }#color-4{
  background-color: pink;
  cursor: pointer;
 }


 #pixel-board {
  display: inline-table;
  background-color: white;
  margin: 50px auto;
  text-align: ;
margin-top: 100px;
}

.line-pixel-board {
  display: table-row;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align:;
  left: 57%;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: table-cell;
  background-color:white;
  
  
}
#button-random-color{
  
}

.container {

}
